@font-face {
  font-family: 'icon';  /* project id 445154 */
  src: url('//at.alicdn.com/t/font_445154_kyzubrv3o9gj5rk9.eot');
  src: url('//at.alicdn.com/t/font_445154_kyzubrv3o9gj5rk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_445154_kyzubrv3o9gj5rk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_445154_kyzubrv3o9gj5rk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_445154_kyzubrv3o9gj5rk9.svg#iconfont') format('svg');
}
.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	padding: 0;
	margin:0;
}
.layout {
	width:1280px;
	margin:0 auto;
	border: 1px solid;
}
.header {
	margin: 50px 0px;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.portrait img {
	width: 200px;
	height: 200px;
	margin:0 100px;
	border-radius: 100px;
}

.job {
	position: relative;
	left:-100px;
}
.job h1 {
	font-size: 50px;
}
.job em {
	font-size: 22px;
}
.contact {
	margin-right:80px;
	width: 400px;
}
.contact h1 {
	border-bottom:10px solid #000;
}
.contact ul {
	list-style: none;
}
.icon li {
	margin:15px 0;
}
.icon li a {
	color:#000;
	font-size: 18px;
	text-decoration: none;
}

.content {
	margin:30px;
}

.content h1 {
	border-bottom: 5px solid #ccc;
}
.content ul li{
	list-style: none;
}
.content ul li h3 em{
	color:#999;
	font-size: 17px;
	margin:0 20px;
}
.content ul{
	margin:50px 20px;
	border-left:3px solid #ccc;
}

.footer{
	margin:0 50px;
	display: flex;
	justify-content: space-between;
}

.extra{
	flex-shrink:2;
	
}

.extra h2{
	border-bottom: 3px solid #ccc;
}
.extra ul{
	margin-top:50px;
}
.extra ul li{
	list-style: none;
}
.skills{
	flex-shrink:3;
	margin:0 20px;
}
.skills h2{
	border-bottom: 3px solid #ccc;
}
.skills ul li{
	font-size: 22px;
	width: 100px;
	margin:40px 60px;
	list-style: none;
}

.skills ul{
	display: flex;
	flex-wrap:wrap;
}